.silencio {
    height: 100px;
    background-color: red;
    border-radius: 30px;
    box-shadow: 5px 5px  20px rgba(0,0,0,0.5);
}

.nav{
    list-style: none;
    display: flex;
    padding: 20px;
    justify-content: right;
    
}

nav ul li {
    margin: 20px;
}

.caixa{
    width: 300px;
    height: 600px;
    background-color: beige;
    border-radius: 30px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    position: relative;
    top: 20px;
    float: right;
}
body{
    background-image: url(OIP\ \(3\).jfif)
}
.menu2{
    list-style: none;
    font-size: x-large;
    font-family: 'comic sans ms';
    color:brown;


}